node_modules
.DS_Store
tmp
pnpm-lock.yaml

qr-scanner.js
qr-scanner.d.ts
qr-scanner.js.map

qr-scanner.legacy.js
qr-scanner.legacy.js.map

qr-scanner-worker.js
qr-scanner-worker.js.map

qr-scanner.legacy.js
qr-scanner.legacy.js.map

WorkerResult.d.ts
