node_modules
.DS_Store
tmp
pnpm-lock.yaml

qr-scanner.min.js
qr-scanner.min.js.map
qr-scanner.legacy.min.js
qr-scanner.legacy.min.js.map
qr-scanner-worker.min.js
qr-scanner-worker.min.js.map
qr-scanner-worker.min.js
qr-scanner-worker.min.js.map
qr-scanner.legacy.min.js
qr-scanner.legacy.min.js.map
qr-scanner.min.js
qr-scanner.min.js.map
types
